@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


* {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --main-gradient: linear-gradient(to bottom, rgb(132, 205, 238), rgb(220, 240, 250));
}

body {
  background: var(--main-gradient);
  min-height: 100vh;
  background-attachment: fixed;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}